<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.AdminDao">
    <insert id="registerAdmin" >
        INSERT INTO Test.admin VALUES (null, #{username}, #{password});
    </insert>
    <select id="login" resultMap="adminResultMap">
        select username ,password from admin where username =#{username} and password =#{password}
    </select>
    <resultMap id="adminResultMap" type="Admin" autoMapping="true">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
</mapper>